<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Detail Log</title>
</head>

<body>
	<main>
		<div id="listField">
			<button class="list-button" onclick="changeDetailList('List', dataType, dataId)">ALL</button>
			<button class="list-button" onclick="changeDetailList('Weekly', dataType, dataId)">Weekly</button>
			<button class="list-button" onclick="changeDetailList('Monthly', dataType, dataId)">Monthly</button>
		</div>
		<br />
		<br />
		<br />
		<br />
		<p id="dataType" th:text="${detailType} + ' Log'"></p>
		<p hidden id="dataId" th:text="'ID: ' + ${dataId}"></p>
		<table class="container">
			<thead id="tableHeadDetail"></thead>
			<tbody id="tableBodyDetail"></tbody>
		</table>
		<div style="text-align:center">
			<a href="/main">戻る</a>
		</div>
		<canvas id="detailChart" style="max-width: 300px; max-height:200px; margin-top:50px;"></canvas>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:src="@{/JS/detail/fetchDetailData.js}"></script>
	<script th:src="@{/JS/detail/detail.js}"></script>
</body>


</html>